extends layouts/main

block content
    div(id="container")
        form(action=routes.login, method="POST")
            label(for=id) ID
            input(type="text" id="id", name="id")
            label(for=Password) Password
            input(type="password" id="password", name="password")
            input(type="submit")